body{
    width: 800px;
    margin: auto;
}
ul{
    font-size: 24px;
}
p{
    margin: 0;
}
.heading{
    color: red;
    font-size: 24px;
    padding: 12px 0;
    display:block;
}
.heading__items{
    list-style: none;
    margin-left: 20px;
}
.img1{
    padding-bottom: 50px;
}
img {
    display: block;
    max-width:800px;
    max-height:800px;
    width: auto;
    height: auto;
   margin: auto;
  }
.des{
    padding-left: 400px;
    color: #333;
   
}
.paragraph1{
    display: block;
    ;
}
span{
    color: black;
    
}
.text{
    color: #333;;
}
.paragraph2{
    margin: auto;
}